@import "./Colors";
@import "./PriceContainer";
@import "./ToogleBtn";

/* Normalize */

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    font-weight: 400;
}
html, body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}

body{
    min-height: 100vh;
    width: 100%;
    background-color: $VeryLightGrayishBlue;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem;
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-origin: border-box;
    background: url("images/bg-bottom.svg") bottom left/25% no-repeat,
    url("images/bg-top.svg") top right/25% no-repeat;
}
.main-title{
    color: $GrayishBlue;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
